@media (min-width: $desktop-start) and (max-width: $desktop-end) {
  .component-1 {
    width: 1400px;
    height: 490px;
    background-color: $color-9;

    .container-11 {
      width: 496px;
      height: 422px;
      background-color: $color-1;
      margin-left: 200px;
      flex-direction: column;

      .E-and-exhibition {
        justify-content: flex-start;

        .exhibition {
          font-size: 18px;
        }

        .letter-E {
          font-size: 25px;
        }
      }

      .shadows {
        font-size: 16px;
      }

      .admission {
        font-size: 18px;
      }
    }

    .container-12 {
      height: 65px;
      width: 1120px;
      background-color: $color-5;
      margin-top: 420px;
    }
  }
}
