@media (min-width: $mobile-start) and (max-width: $mobile-end) {
  .container-11 {
    width: 270px;
    margin-left: 25px;

    .E-and-exhibition {
      .exhibition {
        font-size: 14px;
      }

      .letter-E {
        margin-top: 35px;
        font-size: 30px;
      }
    }


    .admission {
      font-size: 16px;
    }

    .menu {
      right: 0;
    }
  }
}
