.container-11 {
  position: relative;

  .exhibition {
    font-family: $Montserrat-font;
    color: $color-4;
    font-weight: 700;
  }

  .letter-E {
    font-family: $Montserrat-font;
    border: solid 3px $color-4;
    color: $color-4;
    font-weight: 700;
    padding: 5px 9px 5px 9px;
    
  }

  .photography {
    font-family: $Montserrat-font;
    color: $color-4;
    background-color: $color-5;
    width: fit-content;
    font-size: 10px;
    padding: 6px 5px 6px 5px;
  }

  .John {
    font-family: $Montserrat-font;
    font-size: 22px;
    font-weight: 700;
    color: $color-4;
  }

  .shadows {
    font-family: $Montserrat-font;
    font-size: 26px;
    font-weight: 700;
    color: $color-4;
  }

  .september {
    font-family: $Opensans-font;
    color: $color-4;
  }
  .admission {
    font-family: $Montserrat-font;
    color: $color-4;
  }

  .icons-1 {
    height: 45px;
    width: 135px;
    border: solid 1px;
    border-color: adjust-hue($color: $color-4, $degrees: 30);
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;

    

    .eye-border {
      height: 45px;
      width: 45px;
      border-right: solid 1px;
      border-color: adjust-hue($color: $color-4, $degrees: 30);
      justify-content: center;
      align-items: center;
    }

    .image-border {
      height: 45px;
      width: 45px;
      border-right: solid 1px;
      border-color: adjust-hue($color: $color-4, $degrees: 30);
      justify-content: center;
      align-items: center;
    }

    .marker-border{
      width: 45px;
      justify-content: center;
      align-items: center;
    }

    .eye:hover {
      filter: brightness(0%);
    }

    .image:hover {
      filter: brightness(0%);
    }

    .marker:hover {
      filter: brightness(0%);
    }
  }

  .menu {
    height: 60px;
    width: 60px;
    position: absolute;
  }

  .next {
    width: 21px;
    height: 21px;
  }
}

.left:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}

.right:hover {
  filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-50deg)
    saturate(600%) contrast(0.8);
}
