@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .container-11 {
    width: 345px;
    margin-left: 40px;

    .exhibition {
      font-size: 18px;
    }

    .letter-E {
      font-size: 30px;
    }

    .admission {
      font-size: 18px;
    }

    .menu {
      right: -60px;
    }
  }
}
