@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .container-11 {
    width: 345px;
    margin-left: 40px;

    .E-and-exhibition {
      .exhibition {
        font-size: 18px;
      }

      .letter-E {
        margin-top: 35px;
        font-size: 30px;
      }
    }


    .admission {
      font-size: 18px;
    }

    .menu {
      right: -60px;
    }
  }

  .container-12 {
    height: 65px;
    width: 1120px;
    background-color: $color-5;
    margin-top: 420px;
  }
}
