@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .component-1 {
    width: 100%;
    height: 485px;
    background-color: $color-9;

    .container-11 {
      width: 345px;
      height: 422px;
      background-color: $color-1;
      margin-left: 40px;
      flex-direction: column;

      .E-and-exhibition {
        justify-content: flex-start;

        .exhibition {
          font-size: 18px;
        }

        .letter-E {
          margin-top: 35px;
          font-size: 30px;
        }
      }

      .shadows {
        font-size: 16px;
      }

      .admission {
        font-size: 18px;
      }

      .menu {
        right: -60px;
      }
    }

    .container-12 {
      height: 65px;
      width: 1120px;
      background-color: $color-5;
      margin-top: 420px;
    }
  }
}
