@media (min-width: $desktop-start) and (max-width: $desktop-end) {
  .component-3 {
    height: 520px;

    .container-main {
      width: 100%;

      .gallery {
        font-size: 30px;
      }

      .box-1{
        width: 620px;
        height: 400px;
        background-color: $color-4;
      }
    }
  }
}
