@media (min-width: $desktop-start) and (max-width: $desktop-end) {
  .component-2 {
    width: 1400px;
    height: 525px;
    background-color: $color-9;

    .container-21 {
      background-color: $color-8;
      width: 25%;
      height: 100%;
      margin-left: 200px;
    }

    .container-22 {
      width: 600px;
      height: 380px;

      .overview {
        font-size: 30px;
      }

      .paragraph-21 {
        font-size: 20px;
      }
    }
  }
}
