@media (min-width: $mobile-start) and (max-width: $mobile-end) {
  .component-2 {
    width: 100%;

    .overview {
      font-size: 24px;
    }

    .column-21 {
      flex-direction: column;
    }
  }
}
