@media (min-width: $tablet-start) and (max-width: $tablet-end) {
  .component-2 {
    width: 100%;
    height: 470px;
    background-color: $color-4;

    .container-22 {
      width: 590px;
      height: 370px;

      .overview {
        font-size: 30px;
      }

      .paragraph-21 {
        font-size: 20px;
      }
      .overview {
        font-size: 30px;
        padding-top: 43px;
        margin-bottom: 45px;
      }

      .paragraph-21 {
        font-size: 20px;
        line-height: 29px;
        margin-bottom: 33px;
      }
      .column-21 {
        width: fit-content;
        margin-bottom: 38px;

        .paragraph-22 {
          width: 255px;
          margin-right: 41px;
        }

        .paragraph-23 {
          width: 300px;
        }
      }
    }
  }
}
