$color-1: #ED1C24;
$color-2: #999999;
$color-3: #97E411;
$color-4: #7BC200;
$color-5: #FD7761;
$color-6: #F55C43;
$color-7: #6FD9FC;
$color-8: #47B4F6;
$color-9: #A39CDC;
$color-10: #8781BD;
$color-lorem: #A1B1BC;
$color-message: #2C3E50;
$color-border: #E2E6E7;