html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: flex;
}

@media (min-width: 1024px) and (max-width: 1920px) {
  .component-1 {
    width: 1400px;
    height: 490px;
    background-color: #EEEEEE;
  }
  .component-1 .container-11 {
    width: 496px;
    height: 422px;
    background-color: #ED1C24;
    margin-left: 200px;
    flex-direction: column;
  }
  .component-1 .container-11 .E-and-exhibition {
    justify-content: flex-start;
  }
  .component-1 .container-11 .E-and-exhibition .exhibition {
    font-size: 18px;
  }
  .component-1 .container-11 .E-and-exhibition .letter-E {
    font-size: 25px;
  }
  .component-1 .container-11 .shadows {
    font-size: 16px;
  }
  .component-1 .container-11 .admission {
    font-size: 18px;
  }
  .component-1 .container-12 {
    height: 65px;
    width: 1120px;
    background-color: #111111;
    margin-top: 420px;
  }

  .component-2 {
    width: 1400px;
  }
  .component-2 .overview {
    font-size: 30px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .component-1 {
    width: 320px;
    height: 485px;
    background-color: #EEEEEE;
  }
  .component-1 .container-11 {
    width: 270px;
    height: 422px;
    background-color: #ED1C24;
    margin-left: 25px;
    flex-direction: column;
  }
  .component-1 .container-11 .E-and-exhibition {
    justify-content: flex-start;
  }
  .component-1 .container-11 .E-and-exhibition .exhibition {
    font-size: 14px;
  }
  .component-1 .container-11 .E-and-exhibition .letter-E {
    margin-top: 35px;
    font-size: 30px;
  }
  .component-1 .container-11 .shadows {
    font-size: 14px;
  }
  .component-1 .container-11 .admission {
    font-size: 16px;
  }
  .component-1 .container-12 {
    height: 65px;
    width: 1120px;
    background-color: #111111;
    margin-top: 420px;
  }

  .component-2 {
    width: 320px;
  }
  .component-2 .overview {
    font-size: 24px;
  }
}
.exhibition {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
}

.letter-E {
  font-family: "Montserrat", sans-serif;
  border: solid 1px #FFFFFF;
  color: #FFFFFF;
}

.photography {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  background-color: #111111;
  width: fit-content;
  font-size: 10px;
}

.John {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #FFFFFF;
}

.shadows {
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #FFFFFF;
}

.september {
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
}

.admission {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
}

.icons-1 {
  border: solid 1px;
  opacity: 30%;
  height: 45px;
  border-width: 135px;
}

.next {
  width: 21px;
  height: 21px;
}

.menu {
  height: 60px;
  width: 60px;
}

.overview {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  font-weight: 700;
}

.paragraph-21,
.paragraph-22,
.paragraph-23,
.paragraph-24 {
  font-family: "Open Sans", sans-serif;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .component-1 {
    width: 770px;
    height: 485px;
    background-color: #EEEEEE;
  }
  .component-1 .container-11 {
    width: 345px;
    height: 422px;
    background-color: #ED1C24;
    margin-left: 40px;
    flex-direction: column;
  }
  .component-1 .container-11 .E-and-exhibition {
    justify-content: flex-start;
  }
  .component-1 .container-11 .E-and-exhibition .exhibition {
    font-size: 18px;
  }
  .component-1 .container-11 .E-and-exhibition .letter-E {
    margin-top: 35px;
    font-size: 30px;
  }
  .component-1 .container-11 .shadows {
    font-size: 16px;
  }
  .component-1 .container-11 .admission {
    font-size: 18px;
  }
  .component-1 .container-12 {
    height: 65px;
    width: 1120px;
    background-color: #111111;
    margin-top: 420px;
  }

  .component-2 {
    width: 770px;
  }
  .component-2 .overview {
    font-size: 30px;
  }
}

/*# sourceMappingURL=index.css.map */
